<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fanbayy Restaurant</title>
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <header id="header__logo">
      <h1 class="header__logo">Fanbayy Restaurant</h1>
    </header>
    <hr />
    <!-- nav -->
    <nav id="drawer">
      <ul class="navigation">
        <li><a href="#" class="nav__link"> Home </a>|</li>
        <li><a href="#about" class="nav__link">About </a>|</li>
        <li><a href="#explore__shop" class="nav__link">Explore Shop </a>|</li>
        <li><a href="#shop__now" class="nav__link">Shop Now </a>|</li>
        <li>
          <a
            href="https://portfolio-fanbay.herokuapp.com/"
            class="nav__link"
            target="_blank"
          >
            About Us
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <!-- hamburger -->
      <a href="#" id="hamburger">☰</a>
      <div class="image__hero">
        <h1>Lets Eat and Enjoy With Us!</h1>
      </div>
      <!-- img tittle -->
      <div class="menu__shop" id="about">
        <div class="menu__tittle">
          <img src="./images/heros/tittle-1.png" alt="" />
        </div>
        <div class="menu__tittle">
          <img src="./images/heros/tittle-2.png" alt="" />
        </div>
        <div class="menu__tittle">
          <img src="./images/heros/tittle-3.png" alt="" />
        </div>
      </div>

      <!-- exlore hero -->
      <div class="our__menu" id="explore__shop">
        <h2 class="main__title" id="main__h2">Explore Food</h2>
        <div class="explore__shop">
          <div class="menu__title">
            <img
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
              alt=""
            />
            <h6>Bring Your Cafe</h6>
            <p class="location">Malang</p>

            <p class="rating">☆ 4.6</p>
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur alias dolor distinctio pariatur soluta, in ipsam voluptate
              perspiciatis accusantium!
            </p>
          </div>
          <div class="menu__title">
            <img
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
              alt=""
            />
            <h6>Run The Gun</h6>
            <p class="location">Malang</p>

            <p class="rating">☆ 4.6</p>
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur alias dolor distinctio pariatur soluta, in ipsam voluptate
              perspiciatis accusantium!
            </p>
          </div>
          <div class="menu__title">
            <img
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
              alt=""
            />
            <h6>Pangsit Express</h6>
            <p class="location">Malang</p>

            <p class="rating">☆ 4.6</p>
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur alias dolor distinctio pariatur soluta, in ipsam voluptate
              perspiciatis accusantium!
            </p>
          </div>
        </div>
        <div class="explore__shop">
          <div class="menu__title">
            <img
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
              alt=""
            />
            <h6>Ducky Duck</h6>
            <p class="location">Malang</p>

            <p class="rating">☆ 4.6</p>
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur alias dolor distinctio pariatur soluta, in ipsam voluptate
              perspiciatis accusantium!
            </p>
          </div>
          <div class="menu__title">
            <img
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
              alt=""
            />
            <h6>BKafein</h6>
            <p class="location">Malang</p>

            <p class="rating">☆ 4.6</p>
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur alias dolor distinctio pariatur soluta, in ipsam voluptate
              perspiciatis accusantium!
            </p>
          </div>
          <div class="menu__title">
            <img
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
              alt=""
            />
            <h6>Makan mudah</h6>
            <p class="location">Malang</p>

            <p class="rating">☆ 4.6</p>
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur alias dolor distinctio pariatur soluta, in ipsam voluptate
              perspiciatis accusantium!
            </p>
          </div>
        </div>
        <div class="explore__shop">
          <div class="menu__title">
            <img
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
              alt=""
            />
            <h6>Saya Suka</h6>
            <p class="location">Malang</p>

            <p class="rating">☆ 4.6</p>
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur alias dolor distinctio pariatur soluta, in ipsam voluptate
              perspiciatis accusantium!
            </p>
          </div>
          <div class="menu__title">
            <img
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
              alt=""
            />
            <h6>Fairy Cafe</h6>
            <p class="location">Malang</p>

            <p class="rating">☆ 4.6</p>
            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur alias dolor distinctio pariatur soluta, in ipsam voluptate
              perspiciatis accusantium!
            </p>
          </div>
          <div class="menu__title">
            <img
              src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
              alt=""
            />
            <h6>Caffetariea</h6>
            <p class="location">Malang</p>

            <p class="rating">☆ 4.6</p>

            <p class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              tenetur alias dolor distinctio pariatur soluta, in ipsam voluptate
              perspiciatis accusantium!
            </p>
          </div>
        </div>
      </div>

      <!-- Service -->
      <div class="service">
        Service
        <hr />
      </div>

      <div class="service__main">
        <div class="service__link">
          <img src="./images/heros/Icon_tiket.png" alt="" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
            beatae nihil ipsum vero ad cupiditate reprehenderit obcaecati.
            Inventore, voluptatibus itaque.
          </p>
        </div>
        <div class="service__link">
          <img src="./images/heros/Icon_food.png" alt="" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
            beatae nihil ipsum vero ad cupiditate reprehenderit obcaecati.
            Inventore, voluptatibus itaque.
          </p>
        </div>
        <div class="service__link">
          <img src="./images/heros/Icon_food.png" alt="" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
            beatae nihil ipsum vero ad cupiditate reprehenderit obcaecati.
            Inventore, voluptatibus itaque.
          </p>
        </div>
        <div class="service__link">
          <img src="./images/heros/Icon_tiket.png" alt="" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
            beatae nihil ipsum vero ad cupiditate reprehenderit obcaecati.
            Inventore, voluptatibus itaque.
          </p>
        </div>
      </div>

      <!-- button input -->
      <div class="button__input" id="shop__now">
        <button>Order Now</button>
        <button>Help</button>
      </div>
      <button id="darkTheme">Dark Theme</button>

      <!-- footer -->
      <footer>Copyright © 2020 - FanbayyRestaurant</footer>
    </main>

    <script src="/src/scripts/index.js"></script>
  </body>
</html>
